---
- name: Upgrade packages
  apt:
    update_cache: yes
    upgrade: yes

- name: Install packages
  apt:
    name:
      - apt-transport-https
      - build-essential
      - ca-certificates
      - curl
      - fail2ban
      - git
      - gnupg
      - htop
      - ntp
      - ufw
      - unattended-upgrades
      - vim
      # Used by stacks-blockchain-docker to download big files faster during initial sync
      - aria2
    state: latest
    update_cache: yes
    autoremove: yes
    autoclean: yes
  notify:
    - start ntp
    - start fail2ban
